@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  padding-top: 15px;
  padding-bottom: 120px;
}
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: black;
}

// .container {
//   width: 100%;
//   margin: 0 auto;
//   padding-left: 20px;
//   padding-right: 20px;

//   // @include mobile {
//   //   width: 320px;
//   // }

//   @media screen and (min-width: 480px) {
//     width: 480px;
//   }
//   @include tablet {
//     width: 768px;
//   }
//   @include desktop {
//     max-width: 1280px;
//   }
// }

////container fimoteca
///
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    max-width: 550px;
  }

  @include tablet {
    max-width: 1024px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desktop {
    width: 100%;
    max-width: 1280px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    // max-width: 550px;
    width: 480px;
  }

  @include tablet {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
  }
  @include desktop {
    width: 100%;
    max-width: 1280px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5d8781bd;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
////Button smooth scroll up
///
///
.btn-up-wrapper {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  width: 100px;
  height: 100px;
  color: red;
}
.btn-up-wrapper:hover {
  color: blue;
}
.btn-up-wrapper__text {
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.btn-up-wrapper__btn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  background-image: url(../images/—Pngtree—cute\ cartoon\ movie\ popcorn_6113418.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 96px;
  height: 79px;
}
