/// spin/js
///
// @keyframes spinner-line-fade-more {
//   0%,
//   100% {
//     opacity: 0; /* minimum opacity */
//   }
//   1% {
//     opacity: 1;
//   }
// }

// @keyframes spinner-line-fade-quick {
//   0%,
//   39%,
//   100% {
//     opacity: 0.25; /* minimum opacity */
//   }
//   40% {
//     opacity: 1;
//   }
// }

// @keyframes spinner-line-fade-default {
//   0%,
//   100% {
//     opacity: 0.22; /* minimum opacity */
//   }
//   1% {
//     opacity: 1;
//   }
// }

// @keyframes spinner-line-shrink {
//   0%,
//   25%,
//   100% {
//     /* minimum scale and opacity */
//     transform: scale(0.5);
//     opacity: 0.25;
//   }
//   26% {
//     transform: scale(1);
//     opacity: 1;
//   }
// }

///
/// svg spinner
///
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #33403e55;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
  fill: hsl(240, 83%, 44%);
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.loading .preloader {
  display: flex;
}
